
body {
    font-family: Arial, sans-serif;
    background-color: #be95b9;
    margin: 0;
    padding: 0;
    text-size: 30px;
    text-align: center;
}
body {
            opacity: 0;
            animation: fadeIn 1s forwards;
        }
        @keyframes fadeIn {
            to {
                opacity: 1;
            }
        }
header {
    background-color: grey;
    color: white;
    padding: 1rem; 
    text-align: center;
}
main {
    padding: 2rem;
}
section {
    margin-bottom: 2rem;
}
footer {
    position: fixed; width: 100%; bottom: 0; 
}
img {
    border-radius:10px
}
@font-face {
font-family: lovely;
src: url(https://dl.dropbox.com/s/xde2bkhiie1bm8r/LovelyRegular.ttf);
}
 
#lovely {
font-family: lovely;
}
body {
    font-family: lovely;
    font-weight: 100;
    color:white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  float: left;
}
li a {
  display: block;
  color: lightblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color:black;
}
li a:hover {
    color:blue;
  background-color: black;
}

.txt-expandhover{
    transition: 0.4s;
}
   
.txt-expandhover:hover{
  letter-spacing: 7px;
}
canvas {
    border:1px solid #d3d3d3;
    background-color: black;
    position: absolute; 
    bottom: 0;
}    
  * {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #000000;
  }
  *::-webkit-scrollbar {
    width: 16px;
  }
  *::-webkit-scrollbar-track {
    background: #000000;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #000000;
  }
